@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
    @apply m-0;
    @apply p-0;
  }
}

@layer components {
  .primary-btn {
      @apply inline-block bg-green-700 text-white font-semibold rounded-lg hover:bg-secondary2 duration-200 shadow-[0px_10px_8px_-7px_#15803d] hover:shadow-[0px_10px_8px_-7px_#8cc345] py-2 px-6;
  }

  .secondary-btn {
    @apply inline-block bg-green-700 text-white font-semibold rounded-lg hover:bg-green-900 duration-200 shadow-[0px_10px_8px_-7px_#15803d] hover:shadow-[0px_10px_8px_-7px_#14532d] py-2 px-6;
  }
}



@layer utilities {
  .drop-shadow {
      filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
  }
}